@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// Variables
$font: "Raleway", sans-serif;

// Layout + Styles
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: $font;
}

.title {
  font-size: 3rem;
}

#timer-label {
  border: 2px solid;
  h2 {
    font-size: 2.5rem;
  }
  #time-left {
    font-size: 2rem;
  }
}

.length-setted {
  padding: 0 1rem;
  width: 2rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  .row-block {
    padding: 0 2rem;
    .set-length-btn {
      height: 3rem;
      width: 6rem;
      font-size: 1.375rem;
    }
  }
}
